*{margin: 0; padding: 0;}
ul{list-style: none;}
.menu{
  background-image: url('https://img1.daumcdn.net/thumb/R1920x0/?scode=mtistory2&fname=http%3A%2F%2Fcfile23.uf.tistory.com%2Fimage%2F99C71B385D19D0382DEB24');
  background-size: 100% 100%;
  height: 200px;
}
.menu:after{
  content: '';
  display: table;
  clear: both;
}
.logo{
  margin: 5px;
  padding: 20px;
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('https://github.com/entellaKa/seulHomepage/blob/main/147001952_415505143049359_4846357905221325811_n.jpg?raw=true');
  background-size: 100%;
  float: left;
}
.nav{padding: 0 10%;}
.nav > ul > li {
  float: left;
  width: 19%;
  height: 23px;
  background: #d2d2d2; 
  font-weight: bold;
  text-align: center;
}
.nav > ul > li > a{color: #000;}
.nav > ul > li > ul {
  display: none;
  background-color: rgba( 170, 255, 255, 0.3 );
  text-align: left;
}
.nav > ul > li > ul > li{
  padding-top: 2px;
}
.nav > ul > li > ul > li > a{
  color: #0000ff;
}
.nav > ul > li:hover {
  background: #2d2d2d;
}
.nav > ul > li:hover > a {
  color: #fff;
}
.nav > ul > li:hover > ul {
  display: block;
}
.nav > ul > li > ul > li:hover {
  background: #0000ff;
}
.nav > ul > li > ul > li:hover > a{
     color: #aaffff;
}
#imgSlider{
  height: 60%;
  width: 1000%;
  background: #ffa;
  overflow-x: hidden;
}
.slide{
  overflow:hidden;
}
.slide ul{
  width:calc(100% * 4);
  display:flex;
  animation:slideImg 8s infinite;
} /* slide를 8초동안 진행하며 무한반복 함 */
.slide li{
  margin: 0 6%;
  width: 100%;
  height: 60vw;
  background-repeat: no-repeat;
}
.slide{
  background: #1af;
}
.slide li:nth-child(1){ background-image: url('https://github.com/entellaKa/seulHomepage/blob/main/img/195874629_210115330809604_1964945136345124904_n.jpg?raw=true'); background-size: 100%;
}
.slide li:nth-child(2){ background-image: url('https://github.com/entellaKa/seulHomepage/blob/main/img/192790903_1738249429700092_3173188901684289986_n.jpg?raw=true'); background-size: 100%;
}
.slide li:nth-child(3){ background-image: url('https://github.com/entellaKa/seulHomepage/blob/main/img/191315221_552099029493070_7196389414168457932_n.jpg?raw=true'); background-size: 100%;
}
.slide li:nth-child(4){ background-image: url('https://github.com/entellaKa/seulHomepage/blob/main/img/191286757_467855651181817_1247828292772728957_n.jpg?raw=true'); background-size: 100%;
}

@keyframes slideImg {
  0% {margin-left:0;} /* 0 ~ 10  : 정지 */
  10% {margin-left:0;} /* 10 ~ 25 : 변이 */
  25% {margin-left:-100%;} /* 25 ~ 35 : 정지 */
  35% {margin-left:-100%;} /* 35 ~ 50 : 변이 */  
  50% {margin-left:-200%;}
  60% {margin-left:-200%;}
  75% {margin-left:-300%;}
  85% {margin-left:-300%;}
  100% {margin-left:0;}
}
#address{
  font: 20px Arial, sans-serif;
}
#인철이네{
  font: 15px Arial, sans-serif;
  color: #00FFFF;
}
#슬샘이네{
  font: 15px Arial, sans-serif;
  color: #8A2BE2
}
